.container-fluid {
    background-color: #f6f6f6;
    padding: 20px;
}

.card {
    border: none;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#progressbar {
    margin-top: 5px;
    overflow: hidden;
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    width: 33.33%;
    float: left;
    font-size: 12px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #7d7d7d;
    white-space: nowrap;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 2px solid #7d7d7d;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
}

#progressbar li:after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #7d7d7d;
    position: absolute;
    left: -50%;
    top: 15px;
    z-index: -1;
}

#progressbar li:first-child:after {
    content: none;
}

#progressbar li.active {
    color: #bb0411;
}

#progressbar li.active:before {
    border-color: #bb0411;
}

.action-button {
    width: 100px;
    background: #bb0411;
    color: #fff;
    border: 0 none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
    justify-content: flex-end;
}

.action-button-next,
.action-button-submit {
    width: 100px;
    background: #bb0411;
    color: #fff;
    border: 0 none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 5px;
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 20px;
    /* Add some space between form-card and action-button-next */
}

.action-button-previous {
    width: 100px;
    background-color: #494c4e;
    color: #fff;
    border: 0 none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 5px;
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 20px;
    /* Add some space between form-card and action-button-next */
}

.submit,
.previous,
.next {
    float: right;
}

.action-button:hover,
.action-button:focus {
    background-color: #99121b;
}

.action-button-previous.previous:hover {
    background-color: #3c3f42;
}

.action-button.submit {
    background-color: #bb0411;
}

.action-button.submit:hover {
    background-color: #99121b;
}

.form-card {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-top: 35px;
    width: 70vw;
    /* Set the desired width relative to the viewport width */
    height: 40vh;
    /* Set the desired height relative to the viewport height */
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    display: none;
    position: absolute !important;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-card input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
    float: center;
    appearance: none;
    -moz-appearance: textfield;
}

/* Chrome, Safari, Edge */
.form-card input[type="date"]::-webkit-datetime-edit {
    padding: 0;
}

label {
    display: block;
    margin-bottom: 10px;
}

.form-card h2 {
    margin-top: 0;
    margin-left: 30px;
}

.form-card-fee h2 {
    margin-top: 0;
    margin-left: 30px;
}


.form-card input[type="text"] {
    width: 100% !important;
    padding: 10px !important;
    border: 1px solid #aaa !important;
    border-radius: 4px !important;
    box-sizing: border-box !important;
}

.input-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.input-row label {
    flex-basis: 50%;
    text-align: left;
    margin-right: 10px;
}

.form-card-fee {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    /* margin-top: 150px; */
    width: 100%;
    max-width: 100ch;
    /* Set the maximum width relative to the character width */
    height: 100vh;
    /* Set the height relative to the viewport height */
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    display: none;
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .form-card-fee {
        width: 100%;
        margin-top: 300px;
        padding: 10px;
        height: auto;
    }

    .form-card {
        width: 90%;
        max-width: 90%;
        max-height: none;
    }
}

/* Media query for larger screens */
@media (min-width: 1200px) {
    .form-card-fee {
        width: 80vw;
        margin-top: 180px;
    }
}

.left-side {
    width: 45%;
    margin-bottom: 20%;
}

.right-side-fee-section {
    width: 45%;
    margin-bottom: 20%;
}

.right-side-general-section {
    width: 45%;
    margin-bottom: 20%;
}

.form-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}

.label-text {
    flex-basis: 40%;
}

.input-field {
    flex-basis: 60%;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.logo {
    float: left;
    width: 79px;
}

.container {
    margin-top: 30px;
}

hr {
    border-top: 5px solid #dd0404;
    margin-top: 2px;
    margin-bottom: 10px;
}

.title {
    margin-top: 5px;
    font-weight: bold;
    text-align: center;
    margin-bottom: -1mm;
}

.title-2 {
    margin-top: 5px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.section-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.subsection-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.table {
    margin-bottom: 0;
}

.table th,
.table td {
    padding: 8px;
    border-top: none;
}

.table td {
    border-top: 1px solid #ddd;
}

.text-right {
    text-align: right;
}

.logo-row {
    margin-bottom: -1mm;
}

.col {
    padding-left: 0;
}

.left-portion {
    padding-right: 15px;
}

.right-portion {
    padding-left: 15px;
}

ul:before {
    content: "-";
    margin-right: 10px;
}

.list {
    list-style-type: none;
    text-indent: -3em;
}

.justified {
    text-align: justify;
    font-size: 12px;
}

.half-line-left {
    width: 100%;
    margin-top: 20px;
    border-top: 1px solid #030303 !important;
    float: left;
}

.half-line-right {
    width: 50%;
    margin-top: 20px;
    border-top: 1px solid #030303 !important;
    float: right;
}

.small-list {
    font-size: 12px;
    text-align: justify;
}

.small-list {
    list-style-type: none;
    padding: 0;
}

.small-list ul {
    padding-left: 20px;
    text-indent: -14px;
}

.row {
    font-size: 12px;
    margin-bottom: -1mm;
}

.p-size {
    font-weight: bold;
}

.date {
    margin-top: 27px;
    margin-left: 270px;
    font-weight: bold;
}

.home-img {
    float: right;
    width: 30px;
}

.hr-charges {
    border: 2px solid #c0baba;
    margin-top: 8px;
}

.p-concession {
    float: right;
}

.row-value {
    text-align: right;
}

.td-right-bold {
    text-align: right;
    font-weight: bold;
}

.td-bold {
    font-weight: bold;
}

.hr-due-upon-move {
    border: 2px solid #c0baba;
}

.table-money-due-upon-move {
    margin-bottom: 11px;
}

.h6-upon-move {
    font-weight: bold;
    margin-top: 40px;
}

.hr-cost-sheet {
    border-top: 3px solid #ac0e0e;
}

.logo-image {
    float: right;
    width: 7%;
    margin-bottom: -1mm;
}

.concession-row {
    color: red;
}

.download,
.back {
    float: right;
}

.action-button.back {
    background-color: #494c4e;
    padding: 0.2rem 0.4rem;
    font-size: 0.75rem;
    line-height: 2.5;
}

.action-button.download {
    background-color: #105f94;
    padding: 0.2rem 0.4rem;
    font-size: 0.75rem;
    line-height: 2.5;
}

.action-button.back:hover {
    background-color: #3c3f42;
}

.action-button.download:hover {
    background-color: #044d96;
}

.button-btn.previous {
    margin-right: 110px;
}

.input-row input.invalid {
    border: 1px solid red;
}

#page-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9999;
    display: none;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-indent: 0;
}

.select2-selection--single {
    padding: 18px;
}

.select2-selection__placeholder {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    text-align: center;
}

.select2-selection__arrow {
    margin-top: 5px;
}